In [1]:
%conda env list

# conda environments:
#
base                     /opt/anaconda3
taxidev               *  /opt/anaconda3/envs/taxidev


Note: you may need to restart the kernel to use updated packages.

In [2]:
# This is a package in preview.
from azureml.opendatasets import NycTlcGreen

from datetime import datetime
from dateutil import parser


end_date = parser.parse('2018-06-06')
start_date = parser.parse('2018-05-01')
nyc_tlc = NycTlcGreen(start_date=start_date, end_date=end_date)
nyc_tlc_df = nyc_tlc.to_pandas_dataframe()

nyc_tlc_df.info()

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpxab7sbfg/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=5/part-00087-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2657-1.c000.snappy.parquet
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpxab7sbfg/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=6/part-00171-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2741-1.c000.snappy.parquet
<class 'pandas.core.frame.DataFrame'>
Int64Index: 923257 entries, 0 to 598725
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vendorID              923257 non-null  int32
 1   lpepPickupDatetime    923257 non-null  datetime64[ns]
 2   lpepDropoffDatetime   923257 non-null  datetime64[ns]
 3   passengerCount        923257 non-null  int32
 4   tripDistance          923257 non-null  float64
 5   puLocationId          923257 non-null  object
 6   doLocationId          923257 non-null  object
 7   pickupLongitude       0 non-null       float64
 8   pickupLatitude        0 non-null       float64
 9   dropoffLongitude      0 non-null       float64
 10  dropoffLatitude       0 non-null       float64
 11  rateCodeID            923257 non-null  int32
 12  storeAndFwdFlag       923257 non-null  object
 13  paymentType           923257 non-null  int32
 14  fareAmount            923257 non-null  float64
 15  extra                 923257 non-null  float64
 16  mtaTax                923257 non-null  float64
 17  improvementSurcharge  923257 non-null  object
 18  tipAmount             923257 non-null  float64
 19  tollsAmount           923257 non-null  float64
 20  ehailFee              0 non-null       float64
 21  totalAmount           923257 non-null  float64
 22  tripType              923257 non-null  int32
dtypes: datetime64[ns](2), float64(12), int32(5), object(4)
memory usage: 151.4+ MB

In [5]:
# This is a package in preview.
from azureml.opendatasets import NycTlcGreen
from datetime import datetime
from dateutil import parser
import pandas as pd

# Define the date range
end_date = parser.parse('2019-01-15')
start_date = parser.parse('2019-01-01')

try:
    # Load the dataset
    nyc_tlc = NycTlcGreen(start_date=start_date, end_date=end_date)
    nyc_tlc_df = nyc_tlc.to_pandas_dataframe()
    
    # Display basic information about the dataframe
    nyc_tlc_df.info()

    # Filter data for the specific date range
    filtered_df = nyc_tlc_df[(nyc_tlc_df['lpep_pickup_datetime'] >= start_date) & (nyc_tlc_df['lpep_pickup_datetime'] < end_date + pd.Timedelta(days=1))]

    # Show the number of rides
    num_rides = len(filtered_df)
    print(f"Number of rides from January 1, 2022, to January 15, 2022: {num_rides}")

    # Display the filtered data
    filtered_df.head()

except Exception as e:
    print(f"An error occurred: {e}")

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmp41z9quf1/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2019/puMonth=1/part-00066-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2636-2.c000.snappy.parquet
<class 'pandas.core.frame.DataFrame'>
Int64Index: 280297 entries, 1 to 540365
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vendorID              280297 non-null  int32
 1   lpepPickupDatetime    280297 non-null  datetime64[ns]
 2   lpepDropoffDatetime   280297 non-null  datetime64[ns]
 3   passengerCount        280297 non-null  int32
 4   tripDistance          280297 non-null  float64
 5   puLocationId          280297 non-null  object
 6   doLocationId          280297 non-null  object
 7   pickupLongitude       0 non-null       float64
 8   pickupLatitude        0 non-null       float64
 9   dropoffLongitude      0 non-null       float64
 10  dropoffLatitude       0 non-null       float64
 11  rateCodeID            280297 non-null  int32
 12  storeAndFwdFlag       280297 non-null  object
 13  paymentType           280297 non-null  int32
 14  fareAmount            280297 non-null  float64
 15  extra                 280297 non-null  float64
 16  mtaTax                280297 non-null  float64
 17  improvementSurcharge  280297 non-null  object
 18  tipAmount             280297 non-null  float64
 19  tollsAmount           280297 non-null  float64
 20  ehailFee              0 non-null       float64
 21  totalAmount           280297 non-null  float64
 22  tripType              280297 non-null  int32
dtypes: datetime64[ns](2), float64(12), int32(5), object(4)
memory usage: 46.0+ MB
An error occurred: 'lpep_pickup_datetime'

In [9]:
# This is a package in preview.
from azureml.opendatasets import NycTlcGreen
from datetime import datetime
from dateutil import parser
import pandas as pd

# Define the date range
end_date = parser.parse('2018-01-15')
start_date = parser.parse('2018-01-01')

try:
    # Load the dataset
    nyc_tlc = NycTlcGreen(start_date=start_date, end_date=end_date)
    nyc_tlc_df = nyc_tlc.to_pandas_dataframe()
    
    # Display basic information about the dataframe
    nyc_tlc_df.info()

    # Filter data for the specific date range
    filtered_df = nyc_tlc_df[(nyc_tlc_df['lpep_pickup_datetime'] >= start_date) & (nyc_tlc_df['lpep_pickup_datetime'] < end_date + pd.Timedelta(days=1))]

    # Show the number of rides
    num_rides = len(filtered_df)
    print(f"Number of rides from January 1, 2022, to January 15, 2022: {num_rides}")

    # Display the filtered data
    filtered_df.head()

except Exception as e:
    print(f"An error occurred: {e}")

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpqhlaab5c/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=1/part-00036-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2606-1.c000.snappy.parquet
<class 'pandas.core.frame.DataFrame'>
Int64Index: 348031 entries, 0 to 563192
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vendorID              348031 non-null  int32
 1   lpepPickupDatetime    348031 non-null  datetime64[ns]
 2   lpepDropoffDatetime   348031 non-null  datetime64[ns]
 3   passengerCount        348031 non-null  int32
 4   tripDistance          348031 non-null  float64
 5   puLocationId          348031 non-null  object
 6   doLocationId          348031 non-null  object
 7   pickupLongitude       0 non-null       float64
 8   pickupLatitude        0 non-null       float64
 9   dropoffLongitude      0 non-null       float64
 10  dropoffLatitude       0 non-null       float64
 11  rateCodeID            348031 non-null  int32
 12  storeAndFwdFlag       348031 non-null  object
 13  paymentType           348031 non-null  int32
 14  fareAmount            348031 non-null  float64
 15  extra                 348031 non-null  float64
 16  mtaTax                348031 non-null  float64
 17  improvementSurcharge  348031 non-null  object
 18  tipAmount             348031 non-null  float64
 19  tollsAmount           348031 non-null  float64
 20  ehailFee              0 non-null       float64
 21  totalAmount           348031 non-null  float64
 22  tripType              348028 non-null  float64
dtypes: datetime64[ns](2), float64(13), int32(4), object(4)
memory usage: 58.4+ MB
An error occurred: 'lpep_pickup_datetime'

In [11]:
# This is a package in preview.
from azureml.opendatasets import NycTlcGreen
from datetime import datetime
from dateutil import parser
import pandas as pd

# Define the date range
end_date = parser.parse('2018-01-15')
start_date = parser.parse('2018-01-01')

try:
    # Load the dataset
    nyc_tlc = NycTlcGreen(start_date=start_date, end_date=end_date)
    nyc_tlc_df = nyc_tlc.to_pandas_dataframe()
    
    # Display basic information about the dataframe
    nyc_tlc_df.info()

    # Print the first few rows to inspect column names
    print(nyc_tlc_df.head())

    # Check the columns in the dataframe
    print("Columns in the dataframe:", nyc_tlc_df.columns)

    # Adjust the column name based on the available columns
    pickup_column = 'lpep_pickup_datetime' if 'lpep_pickup_datetime' in nyc_tlc_df.columns else 'pickup_datetime'
    
    # Filter data for the specific date range
    filtered_df = nyc_tlc_df[(nyc_tlc_df[pickup_column] >= start_date) & (nyc_tlc_df[pickup_column] < end_date + pd.Timedelta(days=1))]

    # Show the number of rides
    num_rides = len(filtered_df)
    print(f"Number of rides from January 1, 2018, to January 15, 2018: {num_rides}")

    # Display the filtered data
    filtered_df.head()

except Exception as e:
    print(f"An error occurred: {e}")

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpma3vwn0l/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=1/part-00036-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2606-1.c000.snappy.parquet
<class 'pandas.core.frame.DataFrame'>
Int64Index: 348031 entries, 0 to 563192
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vendorID              348031 non-null  int32
 1   lpepPickupDatetime    348031 non-null  datetime64[ns]
 2   lpepDropoffDatetime   348031 non-null  datetime64[ns]
 3   passengerCount        348031 non-null  int32
 4   tripDistance          348031 non-null  float64
 5   puLocationId          348031 non-null  object
 6   doLocationId          348031 non-null  object
 7   pickupLongitude       0 non-null       float64
 8   pickupLatitude        0 non-null       float64
 9   dropoffLongitude      0 non-null       float64
 10  dropoffLatitude       0 non-null       float64
 11  rateCodeID            348031 non-null  int32
 12  storeAndFwdFlag       348031 non-null  object
 13  paymentType           348031 non-null  int32
 14  fareAmount            348031 non-null  float64
 15  extra                 348031 non-null  float64
 16  mtaTax                348031 non-null  float64
 17  improvementSurcharge  348031 non-null  object
 18  tipAmount             348031 non-null  float64
 19  tollsAmount           348031 non-null  float64
 20  ehailFee              0 non-null       float64
 21  totalAmount           348031 non-null  float64
 22  tripType              348028 non-null  float64
dtypes: datetime64[ns](2), float64(13), int32(4), object(4)
memory usage: 58.4+ MB
   vendorID  lpepPickupDatetime lpepDropoffDatetime  passengerCount  \
0         2 2018-01-07 19:42:46 2018-01-07 19:48:12               1
1         2 2018-01-08 10:48:34 2018-01-08 11:09:09               1
2         2 2018-01-12 19:06:16 2018-01-12 19:20:40               1
3         2 2018-01-12 19:25:24 2018-01-12 20:05:02               1
4         1 2018-01-12 19:24:58 2018-01-12 19:39:50               1

   tripDistance puLocationId doLocationId  pickupLongitude  pickupLatitude  \
0          0.77           42           42              NaN             NaN
1          2.34           74          236              NaN             NaN
2          1.54           82          129              NaN             NaN
3          6.36          129          161              NaN             NaN
4          1.80           75          152              NaN             NaN

   dropoffLongitude  ...  paymentType  fareAmount extra  mtaTax  \
0               NaN  ...            1         5.5   0.0     0.5
1               NaN  ...            1        14.0   0.0     0.5
2               NaN  ...            1        10.0   1.0     0.5
3               NaN  ...            2        27.0   1.0     0.5
4               NaN  ...            2        10.5   1.0     0.5

   improvementSurcharge  tipAmount  tollsAmount ehailFee  totalAmount  \
0                   0.3       1.26          0.0      NaN         7.56
1                   0.3       2.96          0.0      NaN        17.76
2                   0.3       2.36          0.0      NaN        14.16
3                   0.3       0.00          0.0      NaN        28.80
4                   0.3       0.00          0.0      NaN        12.30

   tripType
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0

[5 rows x 23 columns]
Columns in the dataframe: Index(['vendorID', 'lpepPickupDatetime', 'lpepDropoffDatetime',
       'passengerCount', 'tripDistance', 'puLocationId', 'doLocationId',
       'pickupLongitude', 'pickupLatitude', 'dropoffLongitude',
       'dropoffLatitude', 'rateCodeID', 'storeAndFwdFlag', 'paymentType',
       'fareAmount', 'extra', 'mtaTax', 'improvementSurcharge', 'tipAmount',
       'tollsAmount', 'ehailFee', 'totalAmount', 'tripType'],
      dtype='object')
An error occurred: 'pickup_datetime'

In [6]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
from azureml.opendatasets import NycTlcGreen

# Initialize an empty DataFrame
green_taxi_df = pd.DataFrame([])

# Define the start and end dates
start = datetime.strptime("1/1/2016", "%m/%d/%Y")
end = datetime.strptime("1/31/2016", "%m/%d/%Y")

# Loop through the specified range of months and append data
for sample_month in range(2):
    temp_df_green = NycTlcGreen(
        start + relativedelta(months=sample_month),
        end + relativedelta(months=sample_month)
    ).to_pandas_dataframe()
    green_taxi_df = pd.concat([green_taxi_df, temp_df_green.sample(2000)], ignore_index=True)

# Get raw column names
raw_columns = list(green_taxi_df.columns)

# Get descriptive statistics
info = green_taxi_df.describe()
mean_pickup_latitude = info['pickupLatitude']['mean']
mean_pickup_longitude = info['pickupLongitude']['mean']

# Drop rows where all of the specified columns have NaN values
green_taxi_df = green_taxi_df.dropna(how='all', subset=['lpepPickupDatetime', 'pickupLatitude', 'pickupLongitude'])

# Output the DataFrame
green_taxi_df

# Print mean values for pickup latitude and longitude
print(f"Mean Pickup Latitude: {mean_pickup_latitude}, Mean Pickup Longitude: {mean_pickup_longitude}")

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpzq51mn_a/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet
{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmph9q1db2z/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=2/part-00060-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2630-2.c000.snappy.parquet
Mean Pickup Latitude: 40.593824458122256, Mean Pickup Longitude: -73.67008637428283

In [16]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
from azureml.opendatasets import NycTlcGreen

# Initialize an empty DataFrame
green_taxi_df = pd.DataFrame([])

# Define the start and end dates
start = datetime.strptime("1/1/2016", "%m/%d/%Y")
end = datetime.strptime("1/31/2016", "%m/%d/%Y")

# Loop through the specified range of months and append data
for sample_month in range(2):
    temp_df_green = NycTlcGreen(
        start + relativedelta(months=sample_month),
        end + relativedelta(months=sample_month)
    ).to_pandas_dataframe()
    green_taxi_df = pd.concat([green_taxi_df, temp_df_green.sample(2000)], ignore_index=True)

# Get raw column names
raw_columns = list(green_taxi_df.columns)

# Get descriptive statistics
info = green_taxi_df.describe()
average_pickup_latitude = info['pickupLatitude']['mean']
average_pickup_longitude = info['pickupLongitude']['mean']

# Drop rows where all of the specified columns have NaN values
green_taxi_df = green_taxi_df.dropna(how='all', subset=['lpepPickupDatetime', 'pickupLatitude', 'pickupLongitude'])

# Output the DataFrame
green_taxi_df

# Print average values for pickup latitude and longitude
print(f"Average Pickup Latitude: {average_pickup_latitude}, Average Pickup Longitude: {average_pickup_longitude}")

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpa5v9gop6/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet
{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpk8m4ur7p/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=2/part-00060-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2630-2.c000.snappy.parquet
Average Pickup Latitude: 40.675747022628784, Average Pickup Longitude: -73.80753383255005

In [9]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
from azureml.opendatasets import NycTlcGreen

# Define the start and end dates
start = datetime.strptime("1/1/2018", "%m/%d/%Y")
end = datetime.strptime("1/31/2018", "%m/%d/%Y")

# Initialize an empty DataFrame
green_taxi_df = pd.DataFrame([])

# Loop through the specified range of months and append data
for sample_month in range(1):
    temp_df_green = NycTlcGreen(
        start + relativedelta(months=sample_month),
        end + relativedelta(months=sample_month)
    ).to_pandas_dataframe()
    green_taxi_df = pd.concat([green_taxi_df, temp_df_green], ignore_index=True)

# Get raw column names
raw_columns = list(green_taxi_df.columns)

# Get the total number of pickups
total_pickups = green_taxi_df.shape[0]

# Drop rows where all of the specified columns have NaN values
green_taxi_df = green_taxi_df.dropna(how='all', subset=['lpepPickupDatetime', 'pickupLatitude', 'pickupLongitude'])

# Output the total number of pickups
print(f"Total number of pickups from January 1, 2016, to January 31, 2016: {total_pickups}")

# Display the DataFrame
green_taxi_df.head(9)

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpmvs_p6aj/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2018/puMonth=1/part-00036-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2606-1.c000.snappy.parquet
Total number of pickups from January 1, 2016, to January 31, 2016: 766844

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,paymentType,fareAmount,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType
0,2,2018-01-07 19:42:46,2018-01-07 19:48:12,1,0.77,42,42,NaN,NaN,NaN,...,1,5.5,0.0,0.5,0.3,1.26,0.0,NaN,7.56,1.0
1,2,2018-01-08 10:48:34,2018-01-08 11:09:09,1,2.34,74,236,NaN,NaN,NaN,...,1,14.0,0.0,0.5,0.3,2.96,0.0,NaN,17.76,1.0
2,2,2018-01-12 19:06:16,2018-01-12 19:20:40,1,1.54,82,129,NaN,NaN,NaN,...,1,10.0,1.0,0.5,0.3,2.36,0.0,NaN,14.16,1.0
3,2,2018-01-12 19:25:24,2018-01-12 20:05:02,1,6.36,129,161,NaN,NaN,NaN,...,2,27.0,1.0,0.5,0.3,0.00,0.0,NaN,28.80,1.0
4,1,2018-01-12 19:24:58,2018-01-12 19:39:50,1,1.80,75,152,NaN,NaN,NaN,...,2,10.5,1.0,0.5,0.3,0.00,0.0,NaN,12.30,1.0
5,1,2018-01-12 19:53:19,2018-01-12 20:08:35,1,4.30,247,60,NaN,NaN,NaN,...,1,15.0,1.0,0.5,0.3,0.00,0.0,NaN,16.80,1.0
6,2,2018-01-12 19:07:49,2018-01-12 19:29:56,1,3.14,41,167,NaN,NaN,NaN,...,1,15.5,1.0,0.5,0.3,4.32,0.0,NaN,21.62,1.0
7,2,2018-01-12 19:55:16,2018-01-12 20:15:40,1,3.51,41,244,NaN,NaN,NaN,...,2,16.0,1.0,0.5,0.3,0.00,0.0,NaN,17.80,1.0
8,2,2018-01-12 19:24:58,2018-01-12 19:32:19,1,0.95,181,189,NaN,NaN,NaN,...,1,6.5,1.0,0.5,0.3,0.83,0.0,NaN,9.13,1.0

In [7]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
from azureml.opendatasets import NycTlcGreen

# Define the start and end dates
start = datetime.strptime("1/1/2016", "%m/%d/%Y")
end = datetime.strptime("1/31/2016", "%m/%d/%Y")

# Initialize an empty DataFrame
green_taxi_df = pd.DataFrame([])

# Load data for the specified date range
temp_df_green = NycTlcGreen(start, end).to_pandas_dataframe()
green_taxi_df = pd.concat([green_taxi_df, temp_df_green], ignore_index=True)

# Get the total number of pickups
total_pickups = green_taxi_df.shape[0]

# Output the total number of pickups with commas
print(f"Total number of pickups from January 1, 2016, to January 31, 2016: {total_pickups:,}")

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /var/folders/m1/v2p5dlc135x8ctp72qfss6200000gn/T/tmpq56aoacw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2016/puMonth=1/part-00119-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2689-1.c000.snappy.parquet
Total number of pickups from January 1, 2016, to January 31, 2016: 1,393,001